<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-">
    <h3>Edit your Listing</h3>
    <form
      method="POST"
      action="/listings/<%=listing._id%>?_method=PUT"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          class="form-control"
          value="<%= listing.title%>"
          required
        />
        <div class="valid-feedback">Title Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          name="listing[description]"
          class="form-control"
          required
        >
<%= listing.description %>
</textarea
        >
        <div class="invalid-feedback">Please enter a short description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          type="text"
          name="listing[image]"
          class="form-control"
          value="<%= listing.image %>"
          required
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            class="form-control"
            value="<%= listing.price %>"
          />
          <div class="invalid-feedback">Please enter the Price</div>
        </div>

        <div class="mb-3 col-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            class="form-control"
            value="<%= listing.country %> required"
          />
          <div class="invalid-feedback">Please enter the country name</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          class="form-control"
          value="<%= listing.location %> required"
        />
        <div class="invalid-feedback">Please enter the location</div>
      </div>

      <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
  </div>
</div>
